<!DOCTYPE html>
<html>
<head>
    <title>Страница Категории</title>
</head>
<body>
    {% include "menu.html" %}

    <h2>Добавить Категорию</h2>
    <form method="POST" action="{{ url_for('add_category') }}">
        <label for="category">Категория:</label>
        <input type="text" id="category" name="category" required>
        <button type="submit">Добавить</button>
    </form>

    <h2>Список Категорий:</h2>
    <ul>
        {% for category in category_list %}
            <li>
                {{ category.name }}
                <form method="POST" action="{{ url_for('delete_category', id=category._id) }}">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
